openapi: "3.0.0"
info:
  version: 1.0.0
  title: opnfn
  license:
    name: AGPLv3
servers:
  - url: http://opnfn.com/v1
paths:
  /prices/exchange/{exchangeMic}/security/{securityTicker}/latest:
    get:
      summary: Fetch the latest prices for a given security on a given exchange
      parameters:
        - name: exchangeMic
          in: path
          description: >
            The Market Identifier Code (MIC) for the exchange where you would like to fetch the latest price from.
            For example, the NYSE has the MIC `XYNS` while the London Stock Exchange has the MIC `XLON`. [See this page](https://en.wikipedia.org/wiki/List_of_stock_exchanges) for a list of exchanges with corresponding MICs.
          required: true
          schema:
            type: string
        - name: securityTicker
          in: path
          required: true
          description: >
            The ticker symbol for the security you are fetching the price of.
            Note that the ticker symbol of a security can vary depending on the exchange.
            For example, Shell uses the ticker symbol `SHELL` on the [Euronext Amsterdam](https://live.euronext.com/nl/product/equities/gb00bp6mxd84-xams/shell-plc/shell)
            while they have the symbol `SHEL` (with one L) on the [NYSE](https://www.nyse.com/quote/XNYS:SHEL). 
            For a fixed identifier, consider using a security's ISIN to identify the security.
          schema:
            type: string
      responses:
        '202':
          description: The latest market value of the security
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Money"
        '500':
          description: A server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /fx/from/{fromCurrency}/to/{toCurrency}/latest:
    get:
      summary: Fetch the latest exchange rate for a currency pair
      parameters:
        - name: fromCurrency
          in: path
          description: >
            The [currency code (ISO 4217)](https://en.wikipedia.org/wiki/ISO_4217) you are converting from.
          required: true
          schema:
            type: string
        - name: toCurrency
          in: path
          description: >
            The [currency code (ISO 4217)](https://en.wikipedia.org/wiki/ISO_4217) you are converting to.
          required: true
          schema:
            type: string
      responses:
        '202':
          description: The latest exchange rate for the given currency pair
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Money"
        '500':
          description: A server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Money:
      type: object
      required:
        - currency
        - amount
      properties:
        currency:
          type: string
          format: currency
        amount:
          type: integer
          format: int32
    ExchangeRate:
      type: object
      required:
        - exchangeRate
      properties:
        exchangeRate:
          type: number
          format: float
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
